:root{
    --black-color: black;
    --tomato-color: skyblue;

.firsection{
border: solid tomato;
display: flex;
}
.firstsectionleft{
    border:2px solid black;
    height: 460px;
    width: 50%;
    background: var(--tomato-color);
    

}
.firstsectionright{
    border: 2px solid purple;
    height: 460px;
    width: 50%;
    background: var(--black-color);
}