:root{
    --grey-color: black;
    --whit-color: white;
    --black-color: grey;
    --main-color: tomato;
    *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }

.firsection{
border: solid tomato;
display: flex;
}
.firstsectionleft{
    border:2px solid black;
    height: 460px;
    width: 50%;
    padding: 20px;
    
    

}
.firstsectionright{
    border: 2px solid purple;
    height: 460px;
    width: 50%;
   
}
.line{
    background: var(--main-color);
    height: 16px;
    width: 224px;
    
}
.logotext span{
    color: var(--main-color);
}