:root{
    --grey-color: black;
    --whit-color: white;
    --black-color: grey;
    --main-color: tomato;
    --tomato-linear-gradient:linear-gradient(90deg, rgba(255, 99, 71, 0.4) 0%, rgba(235, 77, 49, 0.4) 100%);
    *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }

.firsection{
border: solid tomato;
display: flex;
height: 460px;
}
.firstsectionleft{
    border:2px solid black;
    height: 100%;
    width: 50%;
    padding: 20px;
    
    

}
.firstsectionright{
    border: 2px solid purple;
    height: 100%;
    width: 50%;
    background: var(--tomato-linear-gradient),url(image/image1.jpg);

    background-size: cover;
    background-position: bottom left;



    /* background: url(image/dots.png); */
    /* background-repeat: no-repeat; */
    /* background-position: bottom center; */
    /* background-size: contain; */
   
}
.line{
    background: var(--main-color);
    height: 16px;
    width: 224px;
    
}
.logotext span{
    color: var(--main-color);
   
}
.logotext{
     margin: 0 0 20px 0;
}
.firstsectionleft p{
    margin: 20px 0px 20px 0px;
}
.link-holder{
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    color:var(--whit-color);
    text-transform: uppercase;
    padding: 20px;
}
/* second section start her */
.secondsection{
border: 2px solid tomato;
display: flex;
padding: 50px 0;
justify-content: center;
align-items: center;
gap: 30px;
}
.secondsectionleft{
border: 2px solid black;
width: 310px;
height: 400px;
padding: 40px 25px;
}
.secondsectionleft p{
    margin: 10px 0;
}
.seconsectionright{
border: 2px solid purple;
width: 340px;
height: 460px;
}
.seconsectionright img{
    width: 100%;
    height: 100%;

}