:root{
    --grey-color: black;
    --whit-color: white;
    --black-color: grey;
    --main-color: tomato;
    --tomato-linear-gradient:linear-gradient(90deg, rgba(255, 99, 71, 0.4) 0%, rgba(235, 77, 49, 0.4) 100%);
    *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }

.firsection{
border: solid tomato;
display: flex;
}
.firstsectionleft{
    border:2px solid black;
    height: 460px;
    width: 50%;
    padding: 20px;
    
    

}
.firstsectionright{
    border: 2px solid purple;
    height: 460px;
    width: 50%;
    background: var(--tomato-linear-gradient),url(image/image1.jpg);

    background-size: cover;
    background-position: bottom left;



    /* background: url(image/dots.png); */
    /* background-repeat: no-repeat; */
    /* background-position: bottom center; */
    /* background-size: contain; */
   
}
.line{
    background: var(--main-color);
    height: 16px;
    width: 224px;
    
}
.logotext span{
    color: var(--main-color);
   
}
.logotext{
     margin: 0 0 20px 0;
}
.firstsectionleft p{
    margin: 20px 0px 20px 0px;
}