:root{
    --black-color: green;
    --tomato-color: purple;
}


.firstsection{
    border: 2px solid tomato;
    display: flex;
}
.firstsectionleftdiv{
    border: 2px solid black;
    height: 460px;
    width: 50%;
    

}
.firstsectionrightdiv{
    border: 2px solid tomato;
    height: 460px;
    width: 50%;
    
}
.line{
    background: var(--tomato-color);
    height: 16px;
    width: 224px;
}
.logotext{
    color: tomato;
}